$primary-color: #4959D8;
$secondary-color: #713fc9;
$tertiary-color: #21395f;
$light-color: #fff;
$light-grey: #eee;
$dark-color: #000;
$font-color: #202020;


.font-color{
    color: $font-color;
}

.secondary-heading{
    color: $font-color;
    font-size: 20px;
    margin-bottom: 1.2rem;
    font-weight: 500;
}

.external-link{
    color: $primary-color;
    font-size: 15px;
}

.box{
    position: relative;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 6px #00000020;
}

.am-inputBox{
    position: relative;
    box-sizing: border-box;
    .inputText, .selectText{
        position: absolute;
        top: 9px;
        left: 8px;
        line-height: 20px;
        font-size: 16px;
        color: #afafaf;
        transition: 0.5s;
        margin-bottom: 0;
        padding: 0 8px;
        background-color: #fff;
        border-radius: 4px;
        z-index: 1;
    }
    .selectText{
        z-index: 0;
    }
    .am-input, .am-input-select, .am-textarea{
        position: relative;
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 15px;
        padding: 0.5rem 16px;
        color: $font-color;
        border: 1px solid #bbbbbb;
        &:focus{
            box-shadow: none;
        }
        &:disabled{
            background-color: #e9ecef;
            ~ .inputText{
                background-color: #e9ecef;
            }
        }
    }
    .am-input-select{
        min-width: 162px;
    }
    .am-textarea{
        height: unset;
    }
}

.inputFocus{
    .inputText{
        transform: translateY(-20px);
        font-size: 13px;
        opacity: 1;
        color: $primary-color;
        z-index: 1;
    }
    .am-input{
        border-bottom: 2px solid $primary-color;
        &:disabled{
            ~ .inputText{
                background: linear-gradient(180deg, white 49%, #e9ecf0 70%);
            }
        }
    }
}

.toast-card {
    position: relative;
    border-radius: 8px;
    height: fit-content;
    max-width: 520px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 1px 12px 2px #00000030;
    .close{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 18px;
        padding: 4px 10px;
        background-color: #00000030;
        border-radius: 5px;
        line-height: 1.2;
    }
    .heading{
        font-size: 24px !important;
        margin-bottom: 8px;
    }
    .detail {
        display: flex;
        margin-bottom: 1rem;
        img {
            width: 80px;
            height: 80px;
            margin: auto;
        }
        p{
            font-size: 14px;
            margin: auto 16px;
        }
    }
    .buttons {
        display: flex;
        justify-content: end;
        .btn {
            margin-left: 5px;
            display: inline-block;
            white-space: nowrap;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .btn-am-primary{
            color: #fff;
            background-color: #713fc9;
            border-color: #713fc9;
            &:hover{
                color: #fff;
                background-color: #6230b8;
                border-color: #6230b8;
            }
        }
    }
}

.notification-toast{
    position: relative;
    border-radius: 8px;
    height: fit-content;
    margin: auto;
    width: 450px;
    max-width: 520px;
    background-color: #eee;
    overflow: hidden;
    box-shadow: 0 1px 8px 1px #00000030;
    img.banner{
        width: 100%;
    }
    .body{
        padding: 16px;
        .top{
            display: flex;
            justify-content: space-between;
            img{
                width: 100px;
            }
            .close{
                font-size: 16px;
                font-weight: 600;
                color: #707070;
            }
        }
        .middle{
            display: flex;
            .logo{
                width: 80px;
                height: 80px;
            }
            .detail{
                margin: auto 0 auto 12px;
                .heading{
                    font-size: 18px;
                    color: #000 !important;
                    font-weight: 500 !important;
                }
                p{
                    font-size: 15px;
                    color: #707070;
                    margin-bottom: 0;
                }
                .website{
                    margin-top: 4px;
                    font-size: 14px;
                }
            }
        }
    }
}

.button-box{
    position: relative;
    .buttons-popup{
        position: absolute;
        display: none;
        bottom: 50px;
        right: 0;
        border-radius: 8px;
        text-align: left;
        overflow: hidden;
        background-color: $light-color;
        box-shadow: 0 0 8px 1px #00000040;
        min-width: 320px;
        z-index: 100;
        .head{
            background-color: $light-grey;
            color: $font-color;
            padding: 8px 16px;
            display: flex;
            justify-content: space-between;
            .close{
                font-size: 16px;
                font-weight: 600;
                color: #707070;
                cursor: pointer;
            }
        }
        .body{
            padding: 16px 16px 28px;
        }
    }
}

.listing{
    margin-top: 16px;
    .card{
        padding: 16px;
        box-shadow: 0 1px 6px #00000040;
        margin-bottom: 1.2rem;
        .main-section{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .app-info{
                display: flex;
                img{
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                    box-shadow: 0 1px 6px 1px #00000040;
                }
                .info{
                    margin: auto 0 auto 16px;
                    .name{
                        font-size: 20px;
                        font-weight: 500;
                        color: $font-color;    
                        width: 200px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .url{
                        font-size: 14px;
                        color: #808080;
                    }
                }
            }
            .timestamp{
                display: flex;
                flex-direction: row;
                margin: auto;
                justify-content: space-between;
                .detail{
                    .head{
                        font-size: 14px;
                        color: #808080;
                    }
                    .val{
                        font-size: 18px;
                        color: $font-color;
                        font-weight: 600;
                    }
                }
            }
            .button-box{
                margin: auto 0;
            }
            .notify-info{
                width: 45%;
                border-right: thin solid #70707040;
                .detail{
                    display: flex;
                    margin-bottom: 12px;
                    img{
                        height: 50px;
                        width: 50px;
                        object-fit: cover;
                        object-position: center;
                        margin-right: 12px;
                        border-radius: 50%;
                        box-shadow: 0 1px 6px 1px #00000040;
                    }
                    .notify-detail{
                        .top{
                            display: flex;
                            margin-bottom: 6px;
                            .name{
                                font-size: 20px;
                                font-weight: 500;
                                color: $font-color;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .badge{
                                display: inline-block;
                                padding: 0.35em 0.65em;
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 1;
                                color: #fff;
                                text-align: center;
                                white-space: nowrap;
                                vertical-align: text-bottom;
                                margin-left: 16px;
                                border-radius: 0.5rem;
                                background-color: $secondary-color;
                            }
                            i{
                                margin: auto 0 auto 16px;
                                font-size: 18px;
                            }
                        }
                        .bottom{
                            p{
                                font-size: 14px;
                                margin-bottom: 0;
                                color: #808080;
                            }
                        }
                    }
                }
                .time-detail{
                    display: flex;
                    .time{
                        display: flex;
                        margin-right: 16px;
                        .head{
                            font-size: 14px;
                            color: #808080;
                            margin-right: 8px;
                        }
                        .val{
                            font-size: 14px;
                            color: $font-color;
                            font-weight: 600;
                        }
                    }
                }
            }
            .schedule-detail{
                width: 40%;
                padding: 0 8px;
                border-right: thin solid #70707040;
                .schedule-time{
                    text-align: center;
                    padding-bottom: 8px;
                    margin-bottom: 8px;
                    border-bottom: thin solid #70707040;
                    .head{
                        font-size: 14px;
                        color: #808080;
                        margin-right: 8px;
                    }
                    .val{
                        font-size: 16px;
                        color: $font-color;
                        font-weight: 600;
                    }
                }
                .status{
                    display: flex;
                    justify-content: space-around;
                    p{
                        margin: auto 0;
                    }
                    .detail{
                        margin: auto 0;
                        .head{
                            font-size: 13px;
                            color: #808080;
                        }
                        .val{
                            font-size: 13px;
                            color: $font-color;
                            font-weight: 600;
                        }
                    }
                }
            }
            .button-box-outline{
                width: 15%;
                text-align: right;
            }
            @media(max-width: 1350px){
                .schedule-detail{
                    width: 42%;
                }
                .button-box-outline{
                    width: 18%;
                }
            }
            @media(max-width: 1200px){
                .notify-info, .schedule-detail{
                    width: 100%;
                    border-right: none;
                    border-bottom: thin solid #70707040;
                    padding-bottom: 16px;
                    margin-bottom: 16px;
                }
                .button-box-outline{
                    width: 100%;
                }
            }
        }
        .hidden-section{
            display: none;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 24px;
            padding: 24px 0 16px;
            border-top: 1px solid #ddd;
            .app-details{
                display: flex;
                .detail{
                    .head{
                        font-size: 14px;
                        color: #808080;
                    }
                    .val{
                        font-size: 18px;
                        color: $font-color;
                        font-weight: 600;
                    }
                    .passcode{
                        position: relative;
                        .passcode-input{
                            border: none;
                            background-color: transparent;
                        }
                        .show{
                            position: absolute;
                            right: 0;
                            padding: 5px 6px;
                            background-color: #fff;
                        }
                    }
                }

            }
            .button-box{
                margin: auto 0;
            }
        }
    }
}

.modal{
    .preview-modal{
        height: 100%;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #00000080;
            backdrop-filter: blur(6px);
            z-index: -1;
        }
        .close-preview{
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .toast-container{
            display: flex;
            height: 100%;
            padding: 60px 32px;
            width: 100%;
            .toast-card {
                position: relative;
                border-radius: 8px;
                height: fit-content;
                max-width: 520px;
                padding: 16px;
                background-color: #fff;
                box-shadow: 0 1px 12px 2px #00000030;
                .d-flex{
                    div{
                        font-size: 12px;
                        align-self: center;
                        a{
                            text-decoration: none;
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
    .top-left .toast-card{
        margin: 0 !important;
    }
    .top-center .toast-card{
        margin: 0 auto !important;
    }
    .top-right .toast-container{
        justify-content: flex-end!important;
    }
    
    .center-left .toast-card{
        align-self: center!important;
    }
    .center-center .toast-card{
        margin: auto !important;
    }
    .center-right .toast-container{
        justify-content: flex-end!important;
    }
    .center-right .toast-card{
        align-self: center!important;
    }
    
    .bottom-left .toast-card{
        align-self: flex-end!important;
    }
    .bottom-center .toast-card{
        margin: 0 auto !important;
        align-self: flex-end!important;
    }
    .bottom-right .toast-container{
        justify-content: flex-end!important;
    }
    .bottom-right .toast-card{
        align-self: end!important;
    }
    
    .html_code_modal{
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #00000080;
            backdrop-filter: blur(6px);
            z-index: -1;
        }
        .card{
            position: relative;
            margin: auto 16px;
            min-width: 300px;
            width: 720px;
            background-color: #fff;
            border-radius: 8px;
            border: none;
            padding: 32px;
            .close_html_code_modal{
                position: absolute;
                top: 5px;
                right: 10px;
                padding: 5px;
                cursor: pointer;
            }
        }
    }
}

.push-dashboard{
    .card{
        .card-content{
            padding: 16px !important;
            display: flex !important;
            flex-direction: column;
            .title{
                margin-bottom: 1rem;
            }
            .counter{
                .count-div{
                    display: flex;
                    flex-direction: column;
                    .count{
                        width: 60px;
                        height: 60px;
                        border-radius: 40px;
                        display: flex ;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba($secondary-color, 0.08);
                        box-shadow: 0 0 3px #00000040;
                        margin: auto;
                        color: $secondary-color;
                        font-weight: bold;
                    }
                    .text{
                        margin: 8px auto;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
                .success{
                    .count{
                        background-color: rgba(#4BB543, 0.08);
                        color: #4BB543;
                    }
                }
                .danger{
                    .count{
                        background-color: rgba(#FF0000, 0.08);
                        color: #FF0000;
                    }
                }
            }
        }
    }
}